body {
    background-color: #c0d9af;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    color: #534431;
}

.game-info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.grid {
    width: 606px;
    height: 606px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid #7a6344;
    background-color: #a08464;
}

.square {
    width: 200px;
    height: 200px;
    border: 1px solid #7a6344;
    background-color: #a08464;
    position: relative;
    overflow: hidden;
}

.square::after {
    content: '';
    display: block;
    background: #534431;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 50px;
}

.mole {
    background-image: url('mole.png'); /* We will add this later */
    background-color: #be9767;
    background-size: cover;
    background-position: center;
    /* Simple mole representation with CSS */
    width: 100px;
    height: 100px;
    position: absolute;
    top: 100px; /* Start hidden */
    left: 50px;
    border-radius: 50%;
    border: 5px solid #534431;
    transition: top 0.2s ease-in-out;
}

.mole.up {
    top: 25px; /* Move up to be visible */
}

#start-button {
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    margin-bottom: 20px;
}