body {
    background-color: #c0d9af;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 10px;
}

h1 {
    color: #534431;
}

.game-info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.grid {
    width: 90vw;
    height: 90vw;
    max-width: 606px;
    max-height: 606px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid #7a6344;
    background-color: #a08464;
}

.square {
    width: 33.333%;
    height: 33.333%;
    box-sizing: border-box; /* Include border in the width/height */
    border: 1px solid #7a6344;
    background-color: #a08464;
    position: relative;
    overflow: hidden;
}

.square::after {
    content: '';
    display: block;
    background: #534431;
    width: 60%;
    height: 60%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mole {
    background-color: #be9767;
    background-size: cover;
    background-position: center;
    width: 70%;
    height: 70%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 5px solid #534431;
    transition: top 0.2s ease-in-out;
}

.mole.up {
    top: 15%;
}

#start-button {
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    margin-bottom: 20px;
}

#player-setup {
    margin-bottom: 20px;
}

#player-name {
    padding: 5px;
    font-size: 1em;
}

#submit-name {
    padding: 5px 10px;
    font-size: 1em;
    cursor: pointer;
}

.leaderboard-container {
    margin: 20px auto;
    width: 90%;
    max-width: 400px;
    border: 2px solid #7a6344;
    padding: 10px;
    background-color: #a08464;
}

#leaderboard-list {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

#leaderboard-list li {
    margin-bottom: 5px;
    font-size: 1.1em;
    color: #534431;
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
    body {
        padding: 5px;
    }

    h1 {
        font-size: 1.5em;
    }

    .game-info {
        font-size: 1em;
    }
}